<footer>
  &copy; 2025 Vorox Audio. All rights reserved. <a href="/imprint/">Imprint</a> <br />
  C0&#8322;-neutral webhosting by <a href="manitu.de](https://www.manitu.de/?affiliate_partner_id=XvChVvvzwVDQtAXrjFzuNYUQdT45vQWHr7Pu8Fe8FJzZMNJgrtHsCr4kkukX8daZ"> manitu</a>. Color scheme inspired by <a href="https://github.com/morhetz/gruvbox">gruvbox</a>.
</footer>
